html, body {
    background-color: #252526;
    color: #c3c3c3;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    max-width: 900px;
    margin: 10px auto;
}

.code-snippet {
    background-color: #1e1e1e;
    color: #c3c3c3;
    border-radius: 1em;
}

.code-inline {
    background-color: #1e1e1e;
    color: #c3c3c3;
    border-radius: 0.5em;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #ebd4d4;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #f8f5f5;
    font-weight: bold;
}

footer {
    margin-top: 5em;
    padding: 1em 10em;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.github {
    height: 2em;
    fill: white;
}

/* packet highlight */

.token {
    color: #19e219;
}

.red {
    color: rgb(228, 41, 41);
}

.orange {
    color: rgb(241, 162, 15);
}
