html, body {
    background-color: #252526;
    color: #c3c3c3;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

.content {
    max-width: 900px;
    margin: 10px auto;
}

.code-snippet {
    background-color: #1e1e1e;
    color: #c3c3c3;
    border-radius: 1em;
    overflow: scroll;
    /*
        some browsers/fonts like to
        replace letter combinations with ligatures
        for example fl and fi becomes one letter
        that messes up fixed width spacing and the arrows
        are not aligned in the code snippets.

        Because the string flags is displayed 1
        letter width shorter one some systems.

        Disabling liga fixes this.
    */
    font-feature-settings:"liga" 0, "dlig" 0;
}

.code-inline {
    background-color: #1e1e1e;
    color: #c3c3c3;
    border-radius: 0.5em;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #ebd4d4;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #f8f5f5;
    font-weight: bold;
}

.header {
    padding: 0em 2em;
}

.header-grid {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: min-content 1fr;
}

.version {
    grid-column: 2;
    grid-row: 1;
    text-decoration: underline;
}

.links {
    grid-row: 2;
    grid-column: 2;
    margin-top: auto;
}

.logo {
    grid-row: 1 / 3;
    grid-column: 1;
}

footer {
    margin-top: 5em;
    padding: 1em 10em;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.github {
    height: 2em;
    fill: white;
}

.rounded-img {
    border-radius: 1em;
}

/* tooltip hover/clickable annotations */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip {
    border: 1px dotted rgba(255, 255, 255, 0.39);
}

.tooltip:hover {
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.39);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    font-weight: normal;
}

/* table */

th, td {
    border: 1px solid #c3c3c34d;
}

th {
    background-color: #c3c3c30a;
}

table {
    margin: 10px 0px;
}

/* fake table */

.num {
    /* border: 1px solid lightblue; */
    width: 2em;
    display: inline-block;
}

td, th {
    padding: 0.5em;
}

/* packet highlight */

.token {
    color: #19e219;
}

.red {
    color: rgb(228, 41, 41);
}

.orange {
    color: rgb(241, 162, 15);
}

/* mobile */

@media screen and (max-width: 1000px) {
    .content {
        max-width: auto;
        font-size: 20px;
    }
}
